<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CV_creator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CV_creator.Properties.Settings>
            <setting name="IsArabic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="OriginalScreenWidth" serializeAs="String">
                <value>1440</value>
            </setting>
            <setting name="OriginalFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ResizeForms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IndexLastPerson" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Notafication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DirectorySaveCv" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderNameCv" serializeAs="String">
                <value>Documents CVs</value>
            </setting>
            <setting name="DirectorySaveBackupCv" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderNameBackupCv" serializeAs="String">
                <value>Backup CV</value>
            </setting>
        </CV_creator.Properties.Settings>
    </userSettings>
</configuration>